header {
    height: 70px;
    padding: 0 10px;
    flex: 1;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#logo{
    font-size: 20px ;
    font-weight: 500;
    color: var(--primary-grey);
}

.section-header{
    max-width: 1280px;
    margin: auto;
    height: 100%;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
}


#hamburger_icon{
    width: 30px;
}

.hamburger_menu_div {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}

#hamburger_menu_nav{
    position: absolute;
    top: 70px;
    width: 100%;
    left: 0;
    max-height: 0px;
    display: flex;
    z-index: 300;
    overflow: hidden;
    flex-direction: column;
    transition: max-height 0.25s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#hamburger_menu_nav.expand{
    max-height: 300px;
}



.container_list{
    background-color: var(--primary-grey);
    display: flex;
    padding: 15px 10px;
    gap: 10px;
    flex-direction: column;
}



.list_menu{
    font-size: 1.1rem;
    padding: 0 0 15px 5px;
    border-bottom: 2px solid var(--secondary-grey); 
}


.list_menu:last-child{
    border-bottom: none; 
    padding: 0 0 5px 5px;
}

.list_menu a{
    text-decoration: none;
    color: white;
}



@media screen and (min-width: 768px) {
    .button_menu_nav {
        width:100px;
    }

    #hamburger_icon {
        display:none !important;
    }

    .hamburger_menu_div {
        display: flex;
        flex-direction: row;
    }

    header {
        padding: 0;
        width: 100%;
    }

    .section-header{
        flex-direction: row;
        justify-content: space-between;
    }

    #hamburger_menu_nav{
        position: inherit;
        max-height:100%;
        box-shadow: none;
        width: auto;
        flex-direction: row;
        align-items: center;
        display: flex;

    }

    .container_list{
        background-color: transparent;
        display: flex;
        padding: 0;
        gap: 50px;
        flex-direction: row;
        color: var(--primary-grey);

        
    }

    .list_menu{
        border-bottom: none;
        padding: 0;
        font-weight: 500;
        display: flex;
        align-items: center;
    }

    .list_menu:last-child{
        padding: 0;
        cursor: pointer;
    }


    .list_menu.buttons{
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 5px;
        font-weight: 500;
        transition-duration: 0.3s;
        color: var(--primary-grey);
        border: 2px solid;
    }

    
    

    .list_menu.buttons.yellowButton{
        border-color: var(--secondary-yellow);
        background-color: var(--secondary-yellow);
    }

    .list_menu.buttons.yellowButton:hover{
        border-radius: 10px;
    }

    .greyButton{
        border-color: var(--primary-grey);
        background-color: white;
    }

    .greyButton:hover{
        color: white;
        border-color: var(--primary-grey);
        background-color: var(--primary-grey);
    }

    .greyButton:hover a{
        color: white;
    }

    .list_menu a{
        text-decoration: none;
        color: var(--primary-grey);
    }


    
}
