header {
    height:90px;
    background-color: var(--primary-yellow);
    display:flex;
    width: 100%;
}

.hamburger_menu_div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

#hamburger_menu_nav.expand {
    position: absolute;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    top:90px;
    height: calc(100% - 90px);
    background-color: var(--secondary-yellow);
}

.button_menu_nav {
    font-size: 26px;
    background-color: var(--secondary-yellow);
    border-radius: 12px;
    width:100px;
}

@media screen and (min-width: 768px) {
    #hamburger_icon {
        display:none !important;
    }

    .hamburger_menu_div {
        display: flex;
        width: max-content;
    }

    header {
        padding: 10px 0;
        justify-content: space-between;
        padding: 0 10%;
        width:80%
    }

    #hamburger_menu_nav > * {
        padding: 0 10%;
    }

    #hamburger_menu_nav, #hamburger_menu_nav.expand  {
        display: flex !important;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height:100%;
        width: 40% !important;
        top:inherit;
        width: initial;
        background-color: red;
    }
}


