.change_information {
    display:flex;
    flex-direction: column;
    background-color: var(--primary-grey);
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    width:100%;
    padding: 10px;
    max-width: 900px;
}

.change_information > * {
    padding: 15px;
}

.user_profile_view {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-yellow);
    min-height: 800px;
}

.user_profile_view * {
    color:var(--primary-yellow);
    font-size: large;
}

.change_information label {
    display: flex;
    justify-content: space-between;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    /* padding:0px 15px 0 15px; */
    align-items: center;
}

.change_information label > * {
    /* padding: 0 15px 0 15px; */
}

.edit_name {
    display:flex;
    justify-content: space-around;
    width:50%;
    align-items: center;
}

#remove_account {
    background-color: var(--error-color);
    width: 280px;
    margin: 15px;
}

.delimiter {
    border-bottom: 1px solid black;
    width: 80%;
    margin: 15px;
    max-width: 900px;
    padding: 0px !important;
}

.title_welcome_user {
    padding: 15px;
}

.input-text{
    background-color: lightgray;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.input-text{
    height: 40px;
    padding-left: 10px;
    border: 2px solid var(--white-grey);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-grey);
    outline: none;
}



@media screen and (min-width: 768px) {
    .edit_name {
        justify-content: space-between;
        width: 90%;
    }
}