.container-box{
    max-width: 450px;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height .5s ease-in-out; 
}

.container-box.success{
    max-height: 250px;
}

.success_signup_section{
    height: 250px;
}