.index_page {
    display:flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FCFAF1;
}

.title_content {
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}

h1, h3 {
    color: var(--primary-grey);
}

h1 {
    font-size: 34px;
} 

h3 {
    font-size: 26px;
}

.default_picture {
    padding:5px;
    width:220px;
}

.container_pictures {
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.inner_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.presentation_component {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height:60vh;
    width: 100%;
    background-color: aquamarine;
}

.search_component {
    color:black;
    font-size: 26px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* height:20vh; */
    padding-top: 65px;
    
    width:100%;
    max-width: 750px;
    display:flex;
    flex-direction: column;
    /* margin: 50px 0; */
}

.search_component > * {
    color:white;
}

.search_box {
    background-color: #314C57;
    width:100%;
    min-height:170px;
    border-radius: 10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.search_input_box {
    width:80%;
    display:flex;
    height:40px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: none;

} 
.search_component_btn_list {
    display:flex;
    width:80%;
    justify-content: space-between;

}

.search_component_btn_list {
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.search_component_btn_list > * {
    margin: 2px 0;
}

.map_component {
    display:flex;
    flex-direction: column;
    width:100%;
    /* height:80vh; */
    margin-top: 20px;
    border-top: solid 2px white;
}

.map_header > * {
    color:white;
}

.search_result {
    width:100% ;
    /* margin-left: -10%; */
    overflow:hidden;

    display:flex;
    flex-direction: column;

    align-items: center;
    color:white;
    background-color: #314C57;

    border-radius: 80% 80% 20% 0% / 14% 14% 0% 0%;
}

#display_event {
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#tooltip {
    background: white;
    margin-left: 28px;
    color:black;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    /* width:200px; */
}

/* path:hover  {
    fill:yellow;
    display: block !important;
}  */

.list_event {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (min-width: 1168px) {
    .index_map {
        display:flex !important;
    }
}

@media screen and (min-width: 768px) {
 
    .presentation_component {
        height:60vh;
        width: 80%;
        margin: 20px 0;
        background-color: aquamarine;
    }

    .presentation_component {
        display:flex;
        width:80%;
        flex-direction: row;

    }
    .map_component {
        flex-direction: row;
        width:100%;
        justify-content: space-around;
        padding: 30px 0;
    }

    .search_component_btn_list {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .search_result {
        width:100%;
        /* padding:20px; */
    }
    
}