.auth-page{
    background-color: var(--primary-yellow);
    color: white;
    height: 100%;
    
}





.container-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-logo img{
    width: 60%;
    max-width: 200px;
}

.section-form{
    display: flex;
    width: 100%;
    justify-content: center;
}


.container-box{
    background-color: var(--primary-grey);
    border-radius:5px;
    padding: 20px;
    margin: 10px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}



.container-form{
    display: flex;
    flex-direction: column;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.main-title{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.small-title{
    font-size: 1.2rem;
    text-align: center;
}

.container-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.container-input span{
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.container-input small{
    visibility: hidden;
    color: var(--error-color);
}

.form-input{
    background-color: var(--secondary-grey);
    border: 2px solid var(--tertiary-grey) ;
    border-radius: 5px;
    height: 40px;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    padding-left: 10px;
    margin-bottom: 5px;
    outline: none;
    font-weight: 400;
    transition-duration: 0.3s;
}

.form-input.error{
    border-color: var(--error-color);
}

.form-submit-button{
    background-color: var(--secondary-yellow);
    color: var(--primary-grey); 
    opacity: 0.5; 
    transition-duration: 0.3s;
}

.form-submit-button.active{
    opacity: 1;
}

.form-submit-button.active:hover{
    background-color:var(--secondary-yellow);
}



.other-form-text{
    margin-top: 10px;
    text-align: center;
}

.other-form-text a{
    text-decoration: none;
    font-weight: 600;
    color: var(--secondary-yellow);
}


.small-text-input a {
    color: var(--secondary-yellow);
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
}

.small-text-input a:hover{
    color: var(--secondary-yellow-dark);
}

.input-row-container{
    display: flex;
    flex-direction: column;
}


.error-container{
    background-color: var(--error-color-opacity);
    border: 2px solid var(--error-color);
    border-radius: 3px;
    padding: 10px;
    overflow-wrap: break-word;
    margin-bottom: 20px;
    transform: scale(0);
    transition-duration: 0.3s;
    display: none;
}

.error-container.active{
    transform: scale(1);
    display: flex;
    animation-duration: 0.3s;
    animation-name: upShow;
}


@keyframes upShow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


/* tablet & desktop */
@media screen and (min-width: 768px){
    .input-row-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}








